modules = ["nodejs-20", "web"]
run = "pm install"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "pm install"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 45832870
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Run"
author = 45832870
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[ports]]
localPort = 3000
externalPort = 80
